{% extends 'base.html.twig' %}


{% block body %}
<div class="container">

 {% for message in app.flashes('notice')%}
            <div class="alert alert-success mt-4 mb-b">
            {{ message }}
            
            </div>

        {%endfor%}

    <table class="table">
  <thead>
    <tr>
    <meta charset="utf-8">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">

      <th scope="col">#</th>
      <th scope="col">Żaba</th>
      <th scope="col">Opis</th>
      <th scope="col">Akcja</th>
    </tr>
  </thead>
  <tbody>
  
      <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="/">Strona główna</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/create">Dodaj Żabę</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="/info">O Żabach</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="/los">Losowanie</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
{% for data in frogs %}
    <tr>
      <th scope="row">{{ data.id }}</th>
      <td>{{ data.title }}</td>
      <td>{{ data.content }}</td>
      <td>


    <a class="btn btn-warning" href="{{ path('update',{'id': data.id}) }}">Update</a>
    <a class="btn btn-danger" href="{{ path('delete',{'id': data.id}) }}">Delete</a>
      
      
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>
{% endblock %}
