{% extends "base.html.twig" %}

{% block body %}

    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="/">Strona główna</a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/create">Dodaj Żabę</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="/info">O Żabach</a>
                        </li>
						<li class="nav-item">
                            <a class="nav-link" href="/los">Losowanie</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>
<div class="container">
    <div class = "row">
        <h3 class="mt-5 mb-5">Aktualizacja Żabobazy</h3>
        {% for message in app.flashes('notice')%}
            <div class="alert alert-success">
            {{ message }}
            
            </div>

        {%endfor%}


        <img src='https://pbs.twimg.com/media/El2LeymXEAMjzf-.jpg', style="width:400px;height:300px;"><img src='https://pbs.twimg.com/media/El2LyAtXYAcJsOK.jpg', style="width:500px;height:300px;"><img src='https://pbs.twimg.com/media/El_5rarWkAE9t3U.jpg', style="width:400px;height:300px;">
        <div class="col-md-6 offset-md-3">
            {{ form_start(form)}}
                <div class ="form-group">
                    {{ form_label(form.title)}}
                    {{form_widget(form.title, {'attr':{'class':'form-control'}})}}
                </div>
                <div class ="form-group">
                    {{ form_label(form.content)}}
                    {{form_widget(form.content, {'attr':{'class':'form-control'}})}}
                </div>
                <div class ="form-group">
                    <button class="btn btn-info mt-2 text-white">Zaaktualizuj</button>
                </div>
            {{ form_end(form)}}
        
        </div>
    </div>
</div>
{% endblock %}